@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: #881c18;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

#filter-img {
  -webkit-transition: 1s -webkit-filter ease-in;
  -moz-transition: 1s -moz-filter ease-in;
  -moz-transition: 1s filter ease-in;
  -ms-transition: 1s -ms-filter ease-in;
  -o-transition: 1s -o-filter ease-in;
  transition: 1s filter ease-in, 1s -webkit-filter ease-in;
}

.red-filter {
  filter: url("#red-flat");
}
