* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  @apply bg-gray-900 text-gray-300;
}

a {
  @apply text-gray-200 border-red-600 border-b no-underline;

  transition: 0.3s ease;
  
  &:hover,
  &:focus {
    @apply text-red-600 no-underline border-b-0;
  }
}

.section-inner {
  @apply max-w-screen-sm xl:max-w-screen-md px-4 lg:px-12 mx-auto py-24 sm:py-32;

  .p-light {
    @apply py-8 lg:py-24;
  }
}

/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Splide Styles */
@import '@splidejs/splide/dist/css/splide.min.css';

/* Global styles */
.details-list {
  li {
    @apply pl-2;

    &:first-child {
      @apply pl-0;
    }
  }
}

img {
  max-width: 100%;
  display: block;
}

#filter-img {
  -webkit-transition: 1s -webkit-filter ease-in;
  -moz-transition: 1s -moz-filter ease-in;
  -moz-transition: 1s filter ease-in;
  -ms-transition: 1s -ms-filter ease-in;
  -o-transition: 1s -o-filter ease-in;
  transition: 1s filter ease-in, 1s -webkit-filter ease-in;
}

.red-filter {
  filter: url("#red-flat");
}
